node_modules
.env
.vercel
.env*
dist/*
dist/


dist/
dist/index.js
dist/instrument.js
dist/db/main.js
dist/db/test.js
dist/db/pg/analytics.js
dist/db/pg/inventory.js
dist/db/pg/main.js
dist/db/pg/tally.js
dist/db/pg/users.js
dist/db/pg/admin/accessGroup.js
dist/db/pg/admin/analytics.js
dist/db/pg/admin/auth.js
dist/db/pg/admin/dashboard.js
dist/db/pg/admin/daybook.js
dist/db/pg/admin/inventory.js
dist/db/pg/admin/ledger.js
dist/db/pg/admin/setting.js
dist/db/pg/admin/userdata.js
dist/db/redisCache/redis.js
dist/middleware/adminAuthM.js
dist/middleware/index.js
dist/routes/db.js
dist/routes/index.js
dist/routes/admin/accessGroup.js
dist/routes/admin/auth.js
dist/routes/admin/dashboard.js
dist/routes/admin/daybook.js
dist/routes/admin/index.js
dist/routes/admin/inventory.js
dist/routes/admin/ledger.js
dist/routes/admin/test.js
dist/routes/app/index.js
dist/utills/exports.js
dist/utills/jwt.js
dist/utills/password.js
